<view class="page">
    <view class="page__bd">
        <view class="weui-cells weui-cells_after-title">
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">课程名称</view>
                </view>
                <view class="weui-cell__bd">
                    <input class="weui-input" />
                </view>
            </view>
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">机构名称</view>
                </view>
                <view class="weui-cell__bd">
                    <input class="weui-input" />
                </view>
            </view>
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">上课地点</view>
                </view>
                <view class="weui-cell__bd">
                    <input class="weui-input" />
                </view>
            </view>
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">教室</view>
                </view>
                <view class="weui-cell__bd">
                    <input class="weui-input" />
                </view>
            </view>
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">老师姓名</view>
                </view>
                <view class="weui-cell__bd">
                    <input class="weui-input" />
                </view>
            </view>
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">联系方式</view>
                </view>
                <view class="weui-cell__bd">
                    <input class="weui-input" />
                </view>
            </view>
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">开始日期</view>
                </view>
                <view class="weui-cell__bd">
                    <picker mode="date">
                        <view class="weui-input">{{date}}</view>
                    </picker>
                </view>
            </view>
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">结束日期</view>
                </view>
                <view class="weui-cell__bd">
                    <picker mode="date">
                        <view class="weui-input">{{date}}</view>
                    </picker>
                </view>
            </view>
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">开始时间</view>
                </view>
                <view class="weui-cell__bd">
                    <picker mode="time" value="{{time}}">
                        <view class="weui-input">{{time}}</view>
                    </picker>
                </view>
            </view>
            <view class="weui-cell weui-cell_input">
                <view class="weui-cell__hd">
                    <view class="weui-label">结束时间</view>
                </view>
                <view class="weui-cell__bd">
                    <picker mode="time" value="{{time}}">
                        <view class="weui-input">{{time}}</view>
                    </picker>
                </view>
            </view>
        </view>
    </view>
</view>